*{
    margin: 0;
    padding: 0;
    
}
#newmain,#menmain,#kidsmain,#womenmain{
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    
}
.card>img{
   
    margin: auto;
}
.card{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
.wishlist-icon {
    font-size: 28px;
    cursor: pointer;
    color: #666;
    width: 20%;
    margin-left: 80%;
    
}

.wishlist-icon.active {
    color: red;
}